@import "tailwindcss";

@theme {
  --color-primary: #005fbf;       
  --color-primary-hover: #004a99; 
  --color-primary-foreground: #ffffff;

  --color-danger: #ef4444;        
  --color-danger-hover: #dc2626;
  --color-success: #22c55e;       
  --color-warning: #eab308;       

  --color-background: #f8fafc;
  --color-surface: #ffffff;
  
  --color-text: #0f172a;
  --color-text-muted: #64748b;
  --color-border: #cbd5e1;
}

.dark {
  color-scheme: dark;
  
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-primary-foreground: #ffffff;
  --color-accent: #38bdf8;

  --color-danger: #f87171;
  --color-danger-hover: #ef4444;
  --color-danger-foreground: #ffffff;

  --color-success: #4ade80;
  --color-success-hover: #22c55e;
  --color-success-foreground: #000000;

  --color-warning: #facc15;
  --color-warning-hover: #eab308;
  --color-warning-foreground: #000000;

  --color-background: #020617;
  --color-surface: #0f172a;
  
  --color-text: #f1f5f9;
  --color-text-muted: #94a3b8;
  --color-border: #1e293b;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Inter', system-ui, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 99px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-text-muted);
}