@import './base.css';

.clip-blob {
  aspect-ratio: 1;
  clip-path: polygon( 48% 0%, 86% 15%, 100% 61%, 76% 94%, 28% 90%, 0% 57%, 9% 19% );
}

@keyframes blob {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.animate-blob {
  animation: blob 10s ease-in-out infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}
